<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h2>취미생활</h2>
      <label> <input type="checkbox" value="A" v-model="hobby" />운동 </label>
      <label> <input type="checkbox" value="B" v-model="hobby" />독서 </label>
      <label> <input type="checkbox" value="C" v-model="hobby" />음악 </label>
      <label> <input type="checkbox" value="D" v-model="hobby" />댄스 </label>
      <label> <input type="checkbox" value="E" v-model="hobby" />역사 </label>
      <h2>상품 분류 선택</h2>
      <select v-model="category">
        <option value="C01">음식</option>
        <option value="C02">음식</option>
        <option value="C03">음식</option>
        <option value="C04">음식</option>
        <option value="C05">음식</option>
      </select>
      <p>선택한취미 : {{hobby}}</p>
      <p>선택한 상품분류 : {{category}}</p>
    </div>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript">
      var vm = Vue.createApp({
        name: 'APP',
        data() {
          return {
            hobby: [],
            category: '',
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
