<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .btnColor {
        background-color: aqua;
        color: black;
      }
      .btnLayout {
        text-align: center;
        width: 120px;
      }
      .btnBorder {
        border: khaki dashed 5px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <input type="checkbox" v-model="btnColor" value="true" />색상 <br />
      <input type="checkbox" v-model="btnLayout" value="true" />정렬, 크기<br />
      <input type="checkbox" v-model="btnBorder" value="true" />테두리 <br />
      <button :class="{btnColor,btnLayout,btnBorder}">버튼</button>

      <script src="https://unpkg.com/vue"></script>
      <script>
        var vm = Vue.createApp({
          name: 'App',
          data() {
            return {
              btnColor: false,
              btnLayout: false,
              btnBorder: false,
            };
          },
        }).mount('#app');
      </script>
    </div>
  </body>
</html>
